doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='../public/javascripts/navbar.js')

  body
    header
    .filler.one
    nav#navbar
      ul
        li One
        li Two
        li Three
    .filler.two
