nav {
  position: fixed;
  width: 100%;
  top: 0em;
  left: 0em;
  color: #f8f8ff;
  background: #1e90ff;
  font-weight: bold;
  letter-spacing: 0.025em;
}
nav ul {
  text-align: center;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
}
nav ul :hover {
  background: #00bfff;
}
body {
  background: #f8f8ff;
}
.filler {
  width: 1px;
  height: 200px;
}
.one {
  height: 0;
}
.two {
  height: 3000px;
}
