nav
  position: fixed
  width: 100%
  top: 0em
  left:0em
  color: ghostwhite
  background: dodgerblue
  font-weight: bold
  letter-spacing: 0.025em
  ul
    text-align: center
    margin: 0
    li
     display: inline-block
     padding: 0 3em
     line-height: 3em
    :hover
      background: deepskyblue
body
  background: ghostwhite

.filler
  width: 1px
  height: 200px
.one
  height: 0
.two
  height: 3000px
